body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.job_sections {
  float:left;
  text-align: center;
}
.job_sections p {
  text-align: left;
}

.clear_div {
  clear: both;
}

.service_img {
  width: 160px;
  height: 160px;
  text-align: center;
}

.menu-style{
  bg-color:grey;
}